body, html {
    margin:0; padding:0;
    width:100%; height:100%;
}

* {
    box-sizing: border-box;
}

count-down{
    display: none;
    border: 2px solid rgba(0,0,0,0.8);
    border-radius: 10px;
    background: rgba(250,250,250,0.8);
    top: 20px;
    position: fixed;
    right: 20px;
    height: 200px;
    width: 50px;
    padding: 10px 15px;
}
count-down counter{
    height: 100%;
    width: 100%;
    position: relative;
    background: red;
    display: block;
}
count-down.show{
    display: block;
}